# Working with Dates and Times

In [2]:
import pandas as pd
import datetime as dt

## Review of Python's datetime Module
- The `datetime` module is built into the core Python programming language.
- The common alias for the `datetime` module is `dt`.
- A module is a Python source file; think of like an internal library that Python loads on demand.
- The `datetime` module includes `date` and `datetime` classes for representing dates and datetimes.
- The `date` constructor accepts arguments for year, month, and day. Python defaults to 0 for any missing values.
- The `datetime` constructor accepts arguments for year, month, day, hour, minute, and second.

In [6]:
someday = dt.date(2025, 12, 15)
someday.year
someday.month
someday.day

15

In [3]:
dt.datetime(2025, 12, 15)
dt.datetime(2025, 12, 15, 8)
dt.datetime(2025, 12, 15, 8, 13)
dt.datetime(2025, 12, 15, 8, 13,59)

datetime.datetime(2025, 12, 15, 8, 13, 59)

In [10]:
sometime = dt.datetime(2025, 12, 15, 8, 13, 59)
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

59

## The Timestamp and DatetimeIndex Objects

- Pandas ships with several classes related to datetimes.
- The **Timestamp** is similar to Python's **datetime** object (but with expanded functionality).
- A **DatetimeIndex** is an index of **Timestamp** objects.
- The **Timestamp** constructor accepts a string, a **datetime** object, or equivalent arguments to the **datetime** clas.

In [11]:
pd.Timestamp(2027, 3, 12)

Timestamp('2027-03-12 00:00:00')

In [12]:
pd.Timestamp(2027, 3, 12, 18, 23, 49)

Timestamp('2027-03-12 18:23:49')

In [13]:
pd.Timestamp(dt.date(2028, 10, 23))

Timestamp('2028-10-23 00:00:00')

In [14]:
pd.Timestamp(dt.datetime(2028, 10, 23, 14, 35))

Timestamp('2028-10-23 14:35:00')

In [15]:
pd.Timestamp("2025-01-01")

Timestamp('2025-01-01 00:00:00')

In [16]:
pd.Timestamp("2025/01/01")

Timestamp('2025-01-01 00:00:00')

In [17]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [18]:
pd.Series([pd.Timestamp("2021-03-08 08:35:15")])

0   2021-03-08 08:35:15
dtype: datetime64[ns]

In [19]:
pd.Series([pd.Timestamp("2021-03-08 08:35:15")]).iloc[0]

Timestamp('2021-03-08 08:35:15')

In [20]:
pd.DatetimeIndex(["2025-01-02", "2025-02-01", "2025-03-01"])

DatetimeIndex(['2025-01-02', '2025-02-01', '2025-03-01'], dtype='datetime64[ns]', freq=None)

In [22]:
index = pd.DatetimeIndex([
    dt.date(2026, 1, 10),
    dt.date(2026, 2, 20)
    ])

index

DatetimeIndex(['2026-01-10', '2026-02-20'], dtype='datetime64[ns]', freq=None)

In [23]:
index[0]

Timestamp('2026-01-10 00:00:00')

In [24]:
type(index[0])

pandas._libs.tslibs.timestamps.Timestamp

## Create Range of Dates with pd.date_range Function
- The `date_range` function generates and returns a **DatetimeIndex** holding a sequence of dates.
- The function requires 2 of the 3 following parameters: `start`, `end`, and `period`.
- With `start` and `end`, Pandas will assume a daily period/interval.
- Every element within a **DatetimeIndex** is a **Timestamp**.

In [25]:
pd.date_range(start="2025-01-01", end="2025-01-07")

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range(start="2025-01-01", end="2025-01-07",freq="D")

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.date_range(start="2025-01-01", end="2025-01-07",freq="2D")

DatetimeIndex(['2025-01-01', '2025-01-03', '2025-01-05', '2025-01-07'], dtype='datetime64[ns]', freq='2D')

In [28]:
pd.date_range(start="2025-01-01", end="2025-01-07",freq="B") #Business Days - Monday - Friday

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-06',
               '2025-01-07'],
              dtype='datetime64[ns]', freq='B')

In [30]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="W") #Weed Days - starts on Sunday

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26'], dtype='datetime64[ns]', freq='W-SUN')

In [31]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="W-FRI")

DatetimeIndex(['2025-01-03', '2025-01-10', '2025-01-17', '2025-01-24',
               '2025-01-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [32]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="W-THU")

DatetimeIndex(['2025-01-02', '2025-01-09', '2025-01-16', '2025-01-23',
               '2025-01-30'],
              dtype='datetime64[ns]', freq='W-THU')

In [33]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="H")

C:\Users\sweta\AppData\Local\Temp\ipykernel_10440\2368910317.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range(start="2025-01-01", end="2025-01-31", freq="H")

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 01:00:00',
               '2025-01-01 02:00:00', '2025-01-01 03:00:00',
               '2025-01-01 04:00:00', '2025-01-01 05:00:00',
               '2025-01-01 06:00:00', '2025-01-01 07:00:00',
               '2025-01-01 08:00:00', '2025-01-01 09:00:00',
               ...
               '2025-01-30 15:00:00', '2025-01-30 16:00:00',
               '2025-01-30 17:00:00', '2025-01-30 18:00:00',
               '2025-01-30 19:00:00', '2025-01-30 20:00:00',
               '2025-01-30 21:00:00', '2025-01-30 22:00:00',
               '2025-01-30 23:00:00', '2025-01-31 00:00:00'],
              dtype='datetime64[ns]', length=721, freq='h')

In [34]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="6H")

C:\Users\sweta\AppData\Local\Temp\ipykernel_10440\3778748201.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range(start="2025-01-01", end="2025-01-31", freq="6H")

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 06:00:00',
               '2025-01-01 12:00:00', '2025-01-01 18:00:00',
               '2025-01-02 00:00:00', '2025-01-02 06:00:00',
               '2025-01-02 12:00:00', '2025-01-02 18:00:00',
               '2025-01-03 00:00:00', '2025-01-03 06:00:00',
               ...
               '2025-01-28 18:00:00', '2025-01-29 00:00:00',
               '2025-01-29 06:00:00', '2025-01-29 12:00:00',
               '2025-01-29 18:00:00', '2025-01-30 00:00:00',
               '2025-01-30 06:00:00', '2025-01-30 12:00:00',
               '2025-01-30 18:00:00', '2025-01-31 00:00:00'],
              dtype='datetime64[ns]', length=121, freq='6h')

In [35]:
pd.date_range(start="2025-01-01", end="2025-12-31", freq="M") #month

C:\Users\sweta\AppData\Local\Temp\ipykernel_10440\4186044048.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  pd.date_range(start="2025-01-01", end="2025-12-31", freq="M")

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30', '2025-10-31', '2025-11-30', '2025-12-31'],
              dtype='datetime64[ns]', freq='ME')

In [36]:
pd.date_range(start="2025-01-01", end="2025-12-31", freq="MS") #month start

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01', '2025-07-01', '2025-08-01',
               '2025-09-01', '2025-10-01', '2025-11-01', '2025-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [37]:
pd.date_range(start="2025-01-01", end="2050-12-31", freq="A")

C:\Users\sweta\AppData\Local\Temp\ipykernel_10440\2143672205.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  pd.date_range(start="2025-01-01", end="2050-12-31", freq="A")

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31', '2035-12-31', '2036-12-31',
               '2037-12-31', '2038-12-31', '2039-12-31', '2040-12-31',
               '2041-12-31', '2042-12-31', '2043-12-31', '2044-12-31',
               '2045-12-31', '2046-12-31', '2047-12-31', '2048-12-31',
               '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [38]:
pd.date_range(start="2012-09-09", freq="D", periods=25)

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range(start="2012-09-09", freq="3D", periods=40)

DatetimeIndex(['2012-09-09', '2012-09-12', '2012-09-15', '2012-09-18',
               '2012-09-21', '2012-09-24', '2012-09-27', '2012-09-30',
               '2012-10-03', '2012-10-06', '2012-10-09', '2012-10-12',
               '2012-10-15', '2012-10-18', '2012-10-21', '2012-10-24',
               '2012-10-27', '2012-10-30', '2012-11-02', '2012-11-05',
               '2012-11-08', '2012-11-11', '2012-11-14', '2012-11-17',
               '2012-11-20', '2012-11-23', '2012-11-26', '2012-11-29',
               '2012-12-02', '2012-12-05', '2012-12-08', '2012-12-11',
               '2012-12-14', '2012-12-17', '2012-12-20', '2012-12-23',
               '2012-12-26', '2012-12-29', '2013-01-01', '2013-01-04'],
              dtype='datetime64[ns]', freq='3D')

In [42]:
pd.date_range(start="2012-09-09", freq="B", periods=180)

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21',
               ...
               '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
               '2013-05-10', '2013-05-13', '2013-05-14', '2013-05-15',
               '2013-05-16', '2013-05-17'],
              dtype='datetime64[ns]', length=180, freq='B')

In [43]:
pd.date_range(end="2013-10-31", freq="D", periods=20)

DatetimeIndex(['2013-10-12', '2013-10-13', '2013-10-14', '2013-10-15',
               '2013-10-16', '2013-10-17', '2013-10-18', '2013-10-19',
               '2013-10-20', '2013-10-21', '2013-10-22', '2013-10-23',
               '2013-10-24', '2013-10-25', '2013-10-26', '2013-10-27',
               '2013-10-28', '2013-10-29', '2013-10-30', '2013-10-31'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pd.date_range(end="2016-12-31", freq="B", periods=75)

DatetimeIndex(['2016-09-19', '2016-09-20', '2016-09-21', '2016-09-22',
               '2016-09-23', '2016-09-26', '2016-09-27', '2016-09-28',
               '2016-09-29', '2016-09-30', '2016-10-03', '2016-10-04',
               '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-10',
               '2016-10-11', '2016-10-12', '2016-10-13', '2016-10-14',
               '2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
               '2016-10-21', '2016-10-24', '2016-10-25', '2016-10-26',
               '2016-10-27', '2016-10-28', '2016-10-31', '2016-11-01',
               '2016-11-02', '2016-11-03', '2016-11-04', '2016-11-07',
               '2016-11-08', '2016-11-09', '2016-11-10', '2016-11-11',
               '2016-11-14', '2016-11-15', '2016-11-16', '2016-11-17',
               '2016-11-18', '2016-11-21', '2016-11-22', '2016-11-23',
               '2016-11-24', '2016-11-25', '2016-11-28', '2016-11-29',
               '2016-11-30', '2016-12-01', '2016-12-02', '2016-12-05',
               '2016-12-06', '2016-12-07', '2016-12-08', '2016-12-09',
               '2016-12-12', '2016-12-13', '2016-12-14', '2016-12-15',
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-26', '2016-12-27',
               '2016-12-28', '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', freq='B')

In [45]:
pd.date_range(end="1991-04-12", freq="W-FRI", periods=75)

DatetimeIndex(['1989-11-10', '1989-11-17', '1989-11-24', '1989-12-01',
               '1989-12-08', '1989-12-15', '1989-12-22', '1989-12-29',
               '1990-01-05', '1990-01-12', '1990-01-19', '1990-01-26',
               '1990-02-02', '1990-02-09', '1990-02-16', '1990-02-23',
               '1990-03-02', '1990-03-09', '1990-03-16', '1990-03-23',
               '1990-03-30', '1990-04-06', '1990-04-13', '1990-04-20',
               '1990-04-27', '1990-05-04', '1990-05-11', '1990-05-18',
               '1990-05-25', '1990-06-01', '1990-06-08', '1990-06-15',
               '1990-06-22', '1990-06-29', '1990-07-06', '1990-07-13',
               '1990-07-20', '1990-07-27', '1990-08-03', '1990-08-10',
               '1990-08-17', '1990-08-24', '1990-08-31', '1990-09-07',
               '1990-09-14', '1990-09-21', '1990-09-28', '1990-10-05',
               '1990-10-12', '1990-10-19', '1990-10-26', '1990-11-02',
               '1990-11-09', '1990-11-16', '1990-11-23', '1990-11-30',
               '1990-12-07', '1990-12-14', '1990-12-21', '1990-12-28',
               '1991-01-04', '1991-01-11', '1991-01-18', '1991-01-25',
               '1991-02-01', '1991-02-08', '1991-02-15', '1991-02-22',
               '1991-03-01', '1991-03-08', '1991-03-15', '1991-03-22',
               '1991-03-29', '1991-04-05', '1991-04-12'],
              dtype='datetime64[ns]', freq='W-FRI')

## The dt Attribute
- The `dt` attribute reveals a `DatetimeProperties` object with attributes/methods for working with datetimes. It is similar to the `str` attribute for string methods.
- The `DatetimeProperties` object has attributes like `day`, `month`, and `year` to reveal information about each date in the **Series**.
- The `day_name` method returns the written day of the week.
- Attributes like `is_month_end` and `is_quarter_start` return Boolean **Series**.

In [49]:
bunch_of_dates = pd.Series(pd.date_range(start="2000-01-01",end="2020-12-31",freq="24D 3H"))

bunch_of_dates.dt

C:\Users\sweta\AppData\Local\Temp\ipykernel_10440\3555560865.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  bunch_of_dates = pd.Series(pd.date_range(start="2000-01-01",end="2020-12-31",freq="24D 3H"))

In [50]:
bunch_of_dates.head()

0   2000-01-01 00:00:00
1   2000-01-25 03:00:00
2   2000-02-18 06:00:00
3   2000-03-13 09:00:00
4   2000-04-06 12:00:00
dtype: datetime64[ns]

In [56]:
bunch_of_dates.dt.day
bunch_of_dates.dt.month
bunch_of_dates.dt.year
bunch_of_dates.dt.hour

0       0
1       3
2       6
3       9
4      12
       ..
313     3
314     6
315     9
316    12
317    15
Length: 318, dtype: int32

In [55]:
bunch_of_dates.dt.day_of_year

0        1
1       25
2       49
3       73
4       97
      ...
313    247
314    271
315    295
316    319
317    343
Length: 318, dtype: int32

In [58]:
bunch_of_dates.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
313     Thursday
314       Sunday
315    Wednesday
316     Saturday
317      Tuesday
Length: 318, dtype: object

In [61]:
bunch_of_dates.dt.is_month_end
bunch_of_dates.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

In [63]:
bunch_of_dates[bunch_of_dates.dt.is_quarter_start]

0     2000-01-01 00:00:00
106   2007-01-01 06:00:00
212   2014-01-01 12:00:00
299   2019-10-01 09:00:00
dtype: datetime64[ns]

## Selecting Rows from a DataFrame with a DateTimeIndex
- The `iloc` accessor is available for index position-based extraction.
- The `loc` accessor accepts strings or **Timestamps** to extract by index label/value. Note that Python's `datetime` objects will not work.
- Use list slicing to extract a sequence of dates. The `truncate` method is another alternative.

In [68]:
stocks = pd.read_csv("ibm.csv", parse_dates=["Date"], index_col="Date").sort_index()
stocks.head()

In [69]:
stocks.iloc[300]

Open           3.561240
High           3.574410
Low            3.554500
Close          3.561240
Volume    536491.781438
Name: 1963-03-12 00:00:00, dtype: float64

In [70]:
stocks.loc["2014-03-04"]

Open      1.288700e+02
High      1.298270e+02
Low       1.288020e+02
Close     1.293290e+02
Volume    6.825202e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [72]:
stocks.loc[pd.Timestamp(2014, 3, 4)]

Open      1.288700e+02
High      1.298270e+02
Low       1.288020e+02
Close     1.293290e+02
Volume    6.825202e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [73]:
 stocks.loc["2013-03-04":"2014-12-31"]

               Open     High      Low    Close        Volume
Date
2013-03-04  137.674  139.449  137.644  139.449  5.434811e+06
2013-03-05  139.879  141.157  139.762  140.386  5.603066e+06
2013-03-06  140.679  141.694  140.454  141.625  5.289922e+06
2013-03-07  141.547  142.446  141.519  142.328  5.715808e+06
2013-03-08  142.592  143.207  142.338  142.982  5.445734e+06
...             ...      ...      ...      ...           ...
2014-12-24  115.119  115.188  114.183  114.359  2.646416e+06
2014-12-26  114.651  115.257  114.495  114.700  2.706324e+06
2014-12-29  114.485  114.700  112.661  113.412  4.715249e+06
2014-12-30  113.090  113.656  112.934  113.109  4.004903e+06
2014-12-31  113.324  114.105  113.304  113.354  5.677519e+06

[463 rows x 5 columns]

In [74]:
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 12, 31)]

               Open     High      Low    Close        Volume
Date
2014-03-04  128.870  129.827  128.802  129.329  6.825202e+06
2014-03-05  129.407  130.344  129.319  129.807  5.027617e+06
2014-03-06  129.963  130.676  129.631  130.159  5.503611e+06
2014-03-07  130.676  131.047  129.837  130.198  5.936539e+06
2014-03-10  130.090  130.666  128.890  129.309  6.623102e+06
...             ...      ...      ...      ...           ...
2014-12-24  115.119  115.188  114.183  114.359  2.646416e+06
2014-12-26  114.651  115.257  114.495  114.700  2.706324e+06
2014-12-29  114.485  114.700  112.661  113.412  4.715249e+06
2014-12-30  113.090  113.656  112.934  113.109  4.004903e+06
2014-12-31  113.324  114.105  113.304  113.354  5.677519e+06

[211 rows x 5 columns]

In [75]:
stocks.truncate("2014-03-04","2014-12-31")

               Open     High      Low    Close        Volume
Date
2014-03-04  128.870  129.827  128.802  129.329  6.825202e+06
2014-03-05  129.407  130.344  129.319  129.807  5.027617e+06
2014-03-06  129.963  130.676  129.631  130.159  5.503611e+06
2014-03-07  130.676  131.047  129.837  130.198  5.936539e+06
2014-03-10  130.090  130.666  128.890  129.309  6.623102e+06
...             ...      ...      ...      ...           ...
2014-12-24  115.119  115.188  114.183  114.359  2.646416e+06
2014-12-26  114.651  115.257  114.495  114.700  2.706324e+06
2014-12-29  114.485  114.700  112.661  113.412  4.715249e+06
2014-12-30  113.090  113.656  112.934  113.109  4.004903e+06
2014-12-31  113.324  114.105  113.304  113.354  5.677519e+06

[211 rows x 5 columns]

In [76]:
stocks.loc["2014-03-04","Close"]

129.329

In [77]:
stocks.loc["2014-03-04","High":"Close"]

High     129.827
Low      128.802
Close    129.329
Name: 2014-03-04 00:00:00, dtype: float64

In [78]:
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 12, 31), "High":"Close"]

               High      Low    Close
Date
2014-03-04  129.827  128.802  129.329
2014-03-05  130.344  129.319  129.807
2014-03-06  130.676  129.631  130.159
2014-03-07  131.047  129.837  130.198
2014-03-10  130.666  128.890  129.309
...             ...      ...      ...
2014-12-24  115.188  114.183  114.359
2014-12-26  115.257  114.495  114.700
2014-12-29  114.700  112.661  113.412
2014-12-30  113.656  112.934  113.109
2014-12-31  114.105  113.304  113.354

[211 rows x 3 columns]

## The DateOffset Object
- A **DateOffset** object adds time to a **Timestamp** to arrive at a new **Timestamp**.
- The **DateOffset** constructor accepts `days`, `weeks`, `months`, `years` parameters, and more.
- We can pass a **DateOffset** object to the `freq` parameter of the `pd.date_range` function.

In [79]:
stocks = pd.read_csv("ibm.csv",parse_dates=["Date"], index_col="Date").sort_index() 
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [80]:
stocks.index

DatetimeIndex(['1962-01-02', '1962-01-03', '1962-01-04', '1962-01-05',
               '1962-01-08', '1962-01-09', '1962-01-10', '1962-01-11',
               '1962-01-12', '1962-01-15',
               ...
               '2023-09-28', '2023-09-29', '2023-10-02', '2023-10-03',
               '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09',
               '2023-10-10', '2023-10-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [82]:
pd.DateOffset(days=5)

In [84]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['1962-01-07', '1962-01-08', '1962-01-09', '1962-01-10',
               '1962-01-13', '1962-01-14', '1962-01-15', '1962-01-16',
               '1962-01-17', '1962-01-20',
               ...
               '2023-10-03', '2023-10-04', '2023-10-07', '2023-10-08',
               '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-14',
               '2023-10-15', '2023-10-16'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [85]:
stocks.index - pd.DateOffset(days=5)

DatetimeIndex(['1961-12-28', '1961-12-29', '1961-12-30', '1961-12-31',
               '1962-01-03', '1962-01-04', '1962-01-05', '1962-01-06',
               '1962-01-07', '1962-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-27', '2023-09-28',
               '2023-09-29', '2023-09-30', '2023-10-01', '2023-10-04',
               '2023-10-05', '2023-10-06'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [86]:
stocks.index + pd.DateOffset(months=3)

DatetimeIndex(['1962-04-02', '1962-04-03', '1962-04-04', '1962-04-05',
               '1962-04-08', '1962-04-09', '1962-04-10', '1962-04-11',
               '1962-04-12', '1962-04-15',
               ...
               '2023-12-28', '2023-12-29', '2024-01-02', '2024-01-03',
               '2024-01-04', '2024-01-05', '2024-01-06', '2024-01-09',
               '2024-01-10', '2024-01-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [87]:
stocks.index - pd.DateOffset(years=1)

DatetimeIndex(['1961-01-02', '1961-01-03', '1961-01-04', '1961-01-05',
               '1961-01-08', '1961-01-09', '1961-01-10', '1961-01-11',
               '1961-01-12', '1961-01-15',
               ...
               '2022-09-28', '2022-09-29', '2022-10-02', '2022-10-03',
               '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-09',
               '2022-10-10', '2022-10-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [88]:
stocks.index + pd.DateOffset(hours=7)

DatetimeIndex(['1962-01-02 07:00:00', '1962-01-03 07:00:00',
               '1962-01-04 07:00:00', '1962-01-05 07:00:00',
               '1962-01-08 07:00:00', '1962-01-09 07:00:00',
               '1962-01-10 07:00:00', '1962-01-11 07:00:00',
               '1962-01-12 07:00:00', '1962-01-15 07:00:00',
               ...
               '2023-09-28 07:00:00', '2023-09-29 07:00:00',
               '2023-10-02 07:00:00', '2023-10-03 07:00:00',
               '2023-10-04 07:00:00', '2023-10-05 07:00:00',
               '2023-10-06 07:00:00', '2023-10-09 07:00:00',
               '2023-10-10 07:00:00', '2023-10-11 07:00:00'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [90]:
stocks.index + pd.DateOffset(years=1, months=3, days=2, hours=14, minutes=23, seconds=12)

DatetimeIndex(['1963-04-04 14:23:12', '1963-04-05 14:23:12',
               '1963-04-06 14:23:12', '1963-04-07 14:23:12',
               '1963-04-10 14:23:12', '1963-04-11 14:23:12',
               '1963-04-12 14:23:12', '1963-04-13 14:23:12',
               '1963-04-14 14:23:12', '1963-04-17 14:23:12',
               ...
               '2024-12-30 14:23:12', '2024-12-31 14:23:12',
               '2025-01-04 14:23:12', '2025-01-05 14:23:12',
               '2025-01-06 14:23:12', '2025-01-07 14:23:12',
               '2025-01-08 14:23:12', '2025-01-11 14:23:12',
               '2025-01-12 14:23:12', '2025-01-13 14:23:12'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [95]:
# Find the IBM stock price on every one of my birthdays (March 18, 1995)
birthdays = pd.date_range(start="1995-03-18", end="2024-03-18", freq= pd.DateOffset(years=1))
birthdays

DatetimeIndex(['1995-03-18', '1996-03-18', '1997-03-18', '1998-03-18',
               '1999-03-18', '2000-03-18', '2001-03-18', '2002-03-18',
               '2003-03-18', '2004-03-18', '2005-03-18', '2006-03-18',
               '2007-03-18', '2008-03-18', '2009-03-18', '2010-03-18',
               '2011-03-18', '2012-03-18', '2013-03-18', '2014-03-18',
               '2015-03-18', '2016-03-18', '2017-03-18', '2018-03-18',
               '2019-03-18', '2020-03-18', '2021-03-18', '2022-03-18',
               '2023-03-18', '2024-03-18'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [99]:
stocks[stocks.index.isin(birthdays)]

                Open      High       Low     Close        Volume
Date
1996-03-18   19.7429   20.4787   19.7253   20.3987  2.286232e+07
1997-03-18   22.8903   23.0356   22.5701   22.8122  2.213605e+07
1998-03-18   32.9393   33.4975   32.9188   33.2477  1.094200e+07
1999-03-18   58.1083   58.1883   56.6122   58.1493  2.207608e+07
2002-03-18   70.3708   71.3868   69.7999   69.8760  7.999137e+06
2003-03-18   54.8644   54.8644   53.5420   54.1852  1.624742e+07
2004-03-18   61.1376   61.2234   60.3842   61.0078  7.008945e+06
2005-03-18   59.0404   59.0696   58.5358   58.6617  1.148291e+07
2008-03-18   76.6147   77.7985   74.7830   77.7887  1.517011e+07
2009-03-18   58.7798   61.0419   58.7456   60.4135  2.732725e+07
2010-03-18   83.8385   84.6056   83.7380   84.3606  7.540323e+06
2011-03-18  102.8430  103.1160  101.4080  102.4230  1.740903e+07
2013-03-18  144.6900  145.7640  144.4850  144.8950  4.423535e+06
2014-03-18  128.9970  130.3240  128.7140  129.5630  5.710911e+06
2015-03-18  111.6360  114.3680  110.8740  113.7340  8.065038e+06
2016-03-18  108.6500  108.7560  107.2930  108.4150  1.639877e+07
2019-03-18  116.3500  116.7890  115.4220  116.6620  3.928294e+06
2020-03-18   86.5750   93.1362   86.5692   90.1830  1.007278e+07
2021-03-18  118.5360  120.4190  117.4620  119.5610  6.348428e+06
2022-03-18  122.8200  124.3130  121.8530  124.1570  7.743032e+06

## Specialized Date Offsets
- Pandas nests more specialized date offsets in `pd.tseries.offsets`.
- We can add a different amount of time to each date (for example, month end, quarter end, year begin)

In [101]:
stocks = pd.read_csv("ibm.csv", parse_dates= ["Date"], index_col="Date").sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [102]:
stocks.index

DatetimeIndex(['1962-01-02', '1962-01-03', '1962-01-04', '1962-01-05',
               '1962-01-08', '1962-01-09', '1962-01-10', '1962-01-11',
               '1962-01-12', '1962-01-15',
               ...
               '2023-09-28', '2023-09-29', '2023-10-02', '2023-10-03',
               '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09',
               '2023-10-10', '2023-10-11'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [104]:
stocks.tail()

              Open     High     Low   Close     Volume
Date
2023-10-05  140.90  141.700  140.19  141.52  3223910.0
2023-10-06  141.40  142.940  140.11  142.03  3511347.0
2023-10-09  142.30  142.400  140.68  142.20  2354396.0
2023-10-10  142.60  143.415  141.72  142.11  3015784.0
2023-10-11  142.51  143.340  142.14  143.23  2511459.0

In [103]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31',
               ...
               '2023-09-30', '2023-09-30', '2023-10-31', '2023-10-31',
               '2023-10-31', '2023-10-31', '2023-10-31', '2023-10-31',
               '2023-10-31', '2023-10-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [105]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31',
               ...
               '2023-08-31', '2023-08-31', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [106]:
stocks.index + pd.tseries.offsets.QuarterEnd()

DatetimeIndex(['1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31',
               ...
               '2023-09-30', '2023-09-30', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [107]:
stocks.index - pd.tseries.offsets.QuarterEnd()

DatetimeIndex(['1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31',
               ...
               '2023-06-30', '2023-06-30', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [108]:
stocks.index + pd.tseries.offsets.QuarterBegin(startingMonth=1)

DatetimeIndex(['1962-04-01', '1962-04-01', '1962-04-01', '1962-04-01',
               '1962-04-01', '1962-04-01', '1962-04-01', '1962-04-01',
               '1962-04-01', '1962-04-01',
               ...
               '2023-10-01', '2023-10-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [109]:
stocks.index - pd.tseries.offsets.QuarterBegin(startingMonth=1)

DatetimeIndex(['1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01',
               ...
               '2023-07-01', '2023-07-01', '2023-10-01', '2023-10-01',
               '2023-10-01', '2023-10-01', '2023-10-01', '2023-10-01',
               '2023-10-01', '2023-10-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [110]:
stocks.index + pd.tseries.offsets.YearEnd()

DatetimeIndex(['1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31',
               ...
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31', '2023-12-31', '2023-12-31',
               '2023-12-31', '2023-12-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [112]:
stocks.index + pd.tseries.offsets.YearBegin()

DatetimeIndex(['1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01',
               ...
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

## Timedeltas
- A **Timedelta** is a pandas object that represents a duration (an amount of time).
- Subtracting two **Timestamp** objects will yield a **Timedelta** object (this applies to subtracting a **Series** from another **Series**).
- The **Timedelta** constructor accepts parameters for time as well as string descriptions.

In [116]:
pd.Timestamp("2023-03-31 12:30:48") - pd.Timestamp("2023-03-20 19:25:59")

Timedelta('10 days 17:04:49')

In [117]:
pd.Timestamp("2023-03-20 19:25:59") - pd.Timestamp("2023-03-31 12:30:48")

Timedelta('-11 days +06:55:11')

In [120]:
pd.Timedelta(days=3, hours=2, minutes=5)

Timedelta('3 days 02:05:00')

In [121]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [122]:
pd.Timedelta("3 days 2 hours 5 minutes")

Timedelta('3 days 02:05:00')

In [128]:
ecommerce = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"],date_format="%m/%d/%y")
ecommerce.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [132]:
ecommerce["Delivery Time"] = ecommerce["delivery_date"] - ecommerce["order_date"]
ecommerce.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [135]:
ecommerce["If it took twice as long"] = ecommerce["delivery_date"] + ecommerce["Delivery Time"]
ecommerce.head()

   order_date delivery_date Delivery Time If it took twice as long
ID
1  1998-05-24    1999-02-05      257 days               1999-10-20
2  1992-04-22    1998-03-06     2144 days               2004-01-18
4  1991-02-10    1992-08-26      563 days               1994-03-12
5  1992-07-21    1997-11-20     1948 days               2003-03-22
7  1993-09-02    1998-06-10     1742 days               2003-03-18

In [136]:
ecommerce["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [137]:
ecommerce["Delivery Time"].min()

Timedelta('8 days 00:00:00')

In [138]:
ecommerce["Delivery Time"].mean()

Timedelta('1217 days 22:53:53.532934128')